body {
    background-image: url(christmas.png);
    background-size: cover;
    font-family: 'Old Standard TT', serif;
}
h1 {
display: block;
    background-image: url(christmas.png);
    background-size: cover;
    background-color: #ffffff;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #e5233d;
}
.luukku {
    /* size of box */
    width:75px;
    height:75px;
    
    /* border style */
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    border-color:#000;
    margin:20px;
    
    /* text style */
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    box-shadow: 10px 10px 5px #888;
    font-size:300%;
    color: #e5233d;
    
    /* background */
    background-color: #FFF;
    opacity: 0.5;
}

.luukku:hover {
    background-color: #e5233d;
    color: #FFF;
}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #fff;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 0.95em;
    text-align: center;
    clear: both;
    padding-top: 300px;
    color: #fff;
}
